        </div></div>
    </body>
    <script>
        let images = document.getElementsByTagName("img");
        for (let img of images) {
            img.classList.add('d-block');
            img.classList.add('mx-auto');
        }
    </script>
</html>