        </div>
        <footer class="footer text-center pb-2 pt-3 pt-md-4 mt-5" style="background-color: rgb(240, 240, 240);">
            <div class="container-fluid">
                <div class="d-block d-md-none mb-1">
                    <a href="https://www.facebook.com/BliXer" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="https://www.instagram.com/michal.zbranek/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://twitter.com/BliXer27" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div style="font-family: 'Russo One', sans-serif;">
                    Created by 
                    <a href="mailto:michal.zbranek.1@gmail.com" style="color: black; text-decoration: underline;">Michal Zbranek</a>
                    <p>© 2020 All rights reserved</p>
                </div>
            </div>
        </footer>
    </body>
</html>