<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Michal Zbranek - Personal Blog</title>

        <script src="https://kit.fontawesome.com/5149d6d4da.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-light pt-4 pb-3" style="border-bottom: 2px solid rgb(240, 240, 240);">
            <a class="navbar-brand mx-md-5" href="/"><span style = "font-size: 2rem;">MICHAL ZBRANEK</span><p>PERSONAL BLOG</p></a>
            <div class="d-none d-md-block mx-5">
                <a href="https://www.facebook.com/BliXer" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://www.instagram.com/michal.zbranek/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/BliXer27" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </nav>
        <div class="container">