<!DOCTYPE html>
<html>
    <head>
        <title>Michal Zbranek - Personal Blog</title>

        <script src="https://kit.fontawesome.com/5149d6d4da.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light" style="margin-bottom: 25px; margin-top: 25px;">
                <a class="navbar-brand" href="/"><span style = "font-size: 2rem;">MICHAL ZBRANEK</span><br>PERSONAL BLOG</a>
                <div class="d-none d-md-block">
                    <a href="https://www.facebook.com/BliXer" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="https://www.instagram.com/michal.zbranek/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://twitter.com/BliXer27" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div class="d-block d-md-none">
                    <a href="https://www.facebook.com/BliXer" target="_blank"><i class="fab fa-facebook-f fa-2x vertical"></i></a><br>
                    <a href="https://www.instagram.com/michal.zbranek/" target="_blank"><i class="fab fa-instagram fa-2x vertical"></i></a><br>
                    <a href="https://twitter.com/BliXer27" target="_blank"><i class="fab fa-twitter fa-2x vertical"></i></a>
                </div>
            </nav>
            <div style="padding-left: 15px;">