<%- include ('./partials/header') %>

<h6><a class="btn btn-light" href="/admin/index">Back to Admin</a></h6>
<% images.forEach((image) => { %>
    <a target="_blank" href="/images/<%= image %>">
        <img style="height: 350px; width: 350px; display: inline; float: left; margin: 20px; padding: 20px;" src="/images/<%= image %>">
    </a>
<% }); %>

<%- include('./partials/footer'); %>