<%- include ('./partials/header') %>

<h6><a class="btn btn-light my-3" href="/admin/index">Back to Admin</a></h6>
<div class="row">
<% images.forEach((image) => { %>
    <a target="_blank" href="/images/<%= image %>">
        <img style="height: 250px; width: 250px; display: inline; float: left; margin: 10px; padding: 10px;" src="/images/<%= image %>">
    </a>
<% }); %>
</div>

<%- include('./partials/footer'); %>