body {
    font-family: 'Roboto', sans-serif;
}

i {
    color: black;
    border-radius: 5px;
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 12px 0px 0px 0px;
}

i:hover {
    color: white;
    background-color: black;
}

.textLink {
    color: black;
}

.textLink:hover {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: disc;
}

.navbar-brand {
    font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
}

.pagination {
    font-family: 'Russo One', sans-serif;
}

.articles:hover {
    background-color: #E8A87C;
    border-radius: 25px;
}

img {
    max-height: 400px;
    max-width: 100%;
}

.page-item.active .page-link {   
    background-color: #dee2e6;
    border-color: #dee2e6;
}

#article p {
    text-align: justify;
}

#article h2 {
    text-transform: uppercase;
}