body {
    font-family: 'Roboto', sans-serif;
}

i {
    color: black;
    border-radius: 5px;
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 8%;
}

i:hover {
    color: white;
    background-color: black;
}

.vertical {
    padding: 20%;
}

#textLink {
    color: black;
}

#textLink:hover {
    text-decoration: none;
}

ul {
    list-style-type: disc;
}

.navbar-brand {
    font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
}

.pagination {
    font-family: 'Russo One', sans-serif;
}

#row {
    margin-left: 0px;
    margin-right: 0px;
}

#row:hover {
    background-color: rgb(240, 240, 240);
}

img {
    max-height: 400px;
    max-width: 100%;
}

.page-item.active .page-link {   
    background-color: #dee2e6;
    border-color: #dee2e6;
}